In [1]:
import pandas as pd
from typing import List, Tuple, Union

courses_df = pd.read_csv('C:\\Users\\payto\Desktop\\Other_CS\\Programming\\Projects\\cleaned_slu_courses2.csv')

courses_df.head()

,Prerequisites,Concurrent Enrollment,Major,Course Name,Course Details,Credits,Repeatable
0,NaN,False,Academic English Program (AEP),AEP 0100,Writing and Grammar Level 1: Beginner,4,False
1,NaN,False,Academic English Program (AEP),AEP 0120,Reading and Vocabulary Level 1: Beginner,4,False
2,NaN,False,Academic English Program (AEP),AEP 0130,Listening and Speaking Level 1: Beginner,4,False
3,NaN,False,Academic English Program (AEP),AEP 0200,Writing and Grammar Level 2: High Beginner,4,False
4,NaN,False,Academic English Program (AEP),AEP 0220,Reading and Vocabulary Level 2: High Beginner,4,False

In [24]:
def check_prerequisites(course: str, completed_courses: List[str]) -> bool:
    """
    Check if the prerequisites for a given course are met.

    Args:
        course (str): The course to check prerequisites for.
        completed_courses (List[str]): List of courses already completed by the student.

    Returns:
        bool: True if all prerequisites are met, False otherwise.
    """
    prerequisites = courses_df[courses_df['Course Name'] == course]['Prerequisites'].values[0]
    if prerequisites:
        return all(prereq in completed_courses for prereq in prerequisites.split(', '))
    return True

In [21]:
def organize_classes(courses: List[str], max_credits_per_semester: int) -> Union[str, List[List[str]]]:
    """
    Organize the given classes into the best fit possible based on prerequisites.

    Args:
        courses (List[str]): List of courses to organize.
        max_credits_per_semester (int): Maximum number of credits allowed per semester.

    Returns:
        Union[str, List[List[str]]]: The organized schedule or an error message if a feasible schedule cannot be generated.
    """
    schedule = []
    current_semester = []
    current_credits = 0
    completed_courses = set()

    while courses:
        added_this_semester = []

        for course in courses:
            course_credits = courses_df[courses_df['Course Name'] == course]['Credits'].values[0]
            if check_prerequisites(course, completed_courses):
                if current_credits + course_credits <= max_credits_per_semester:
                    current_semester.append(course)
                    current_credits += course_credits
                    added_this_semester.append(course)

        if not added_this_semester:
            return "Unable to generate a feasible schedule due to unmet prerequisites."

        schedule.append(current_semester)
        completed_courses.update(current_semester)
        courses = [course for course in courses if course not in added_this_semester]
        current_semester = []
        current_credits = 0

    return schedule

In [25]:
# Example input
courses_to_take = ['CSCI 1070', 'CSCI 2100', 'MATH 1520', 'PHIL 1700', 'CORE 1000', 'CSCI 1300', 'MATH 1660']
max_credits_per_semester = 18

schedule = organize_classes(courses_to_take, max_credits_per_semester)
print(schedule)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [3]:
course = 'CSCI 2100'
prerequisites = courses_df[courses_df['Course Name'] == course]['Prerequisites'].values[0]
prerequisites

IndexError: index 0 is out of bounds for axis 0 with size 0